:root {
    --amarillo: #f4d03f;
    --celeste: #0ea0e2;
    --azul-marino: #0b172a;
    --blanco: #ffffff;
    --gris-claro: #f4f6f8;
}

header {
    background-color:#131a4a;
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 10px;
    width: 90%;
}

header img {
    height: 50px;
    margin-right: 1rem;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
    color: var(--amarillo);
}
nav{
    margin: 15px;
    padding-top: 15px;
    position: relative;
    left: -30px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
    margin-top:15px ;
    padding: 0.5rem 0.3rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--amarillo);
    color: var(--azul-marino);
}

/* ===== RESPONSIVE ===== */


